.git
./docs
./cmake-build-debug
./jniwrap/classes
./jniwrap/libs
./.gradle
./.idea
./wince
./travis
*.o

/src/*.o
/src/*.lo
/src/*.la
/src/proj.dll
/src/*.lib
/src/*.pdb
/src/*.exp
/src/*.opt
/src/*.obj
/src/*.exe
